@import '../../styles/colors.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.blog-container {
    width: 85%;
    display: flex;
    .blog-list {
        width: 40%;
        background-color: $blog-background;
        padding: 30px;
        .blog-list-header {
            @include flex-align(space-between, normal);
            gap: 15px;
            margin-bottom: 20px;
            .search-input {
                width: 75%;
                height: 50px;
                padding: 0 20px;
                border-radius: 28px;
                border: none;
                background-color: $search-input-light;
                font-size: 15px;
            }
            .new-blog {
                width: 25%;
                border: none;
                border-radius: 32px;
                color: $new-blog-light;
                font-weight: bold;
                font-size: 1.125rem;
            }
        }
        .card-list {
            overflow: auto;
            height: 100%;
            padding-bottom: 60px;
            &::-webkit-scrollbar {
                display: none;
              }

            .card{
                border-radius: 10px;
                background-color: $card-light ;

                &.active {
                    background-color: $card-active-light;      
                }
            }
        }
    }
    .detailed-description {
        width: 57%;
        margin: 25px auto;
        img {
            width: 94%;
            height: 450px;
            border-radius: 20px;
            margin: 20px 20px 0;
            object-fit: cover;
        
        }
        .selected-blog-title {
            width: 100%;
            font-size: 28px;
            font-family: "Roboto Slab", serif;
            padding: 0 10px;
            margin: 25px 10px;
            border: none;
            font-size: 2.25rem;
            font-weight: 500;

        }
        .selected-blog-details {
            height: 30%;
            padding: 0 10px 20px;
            margin: 0 10px;
            overflow: auto;
            width: 100%;
            font-size: 1.1rem;
            line-height: 1.5;
            margin-bottom: 15px;
            border: none;
        
        }
        .save-content-btn {
            background-color: $primary-color;
            color: $dark-text-color;
            margin-left: 10px;
        }
        button {
            margin-bottom: 30px;
            float: right;
            border: none;
            padding: 10px 25px;
            border-radius: 30px;
            background-color: $button-color;
            font-weight: 600;
        }
    }
    &.dark {
        background-color: $dark-background;
        color: $dark-text-color;
        .blog-list {
            background-color: $blog-list-dark-background;
            color: $dark-text-color;
            .search-input {
                background-color: $dark-background;
            }
            .card {
                background-color: $dark-card;
                color:$dark-text-color;
                &.active {
                    background-color: $dark-background ;      
                }
            }
        }
        input, textarea {
            color: $dark-text-color;
            background-color: $dark-background;
        }
       
    }
    textarea {
        font-family: inherit;
    }
   
}