$blog-background: #f5f6fa;
$search-input-light: #ebecf3;
$new-blog-light: white;
$card-light: white;
$card-active-light: #96e2f4;

$primary-color: #b354b7;
$button-color: #69f8f9;

$dark-background: #021929;
$dark-card: #042b46;
$dark-text-color: white;
$blog-list-dark-background: black;

$members-modal-background-light: white;
$members-modal-background-dark:#021929;
$form-input-color: #757575;

$text-color: black;
$border-color: lightgray;
$border-hover-color: #6c757d;