@import '../../styles/colors.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.card-container {
    margin: 1.25rem 0;
    padding: 1.875rem;
    box-shadow: 1.875rem 1px 5px rgba(0,0,0,.2);
    border-radius: 0.625rem;
    min-width: 260px; 
    cursor: pointer;
    .title {
        text-transform: capitalize;
    }
    .type {
        font-size: 0.813rem;
        padding: 0.625rem 0;
        color: $primary-color;
        font-weight: 500;
    }
    .description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 1rem;
        line-height: 1.5;
    }

}