@import '../../styles/colors.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.sidebar-container {
    @include flex-align(space-between, center);
    flex-direction: column;
    width: 16%;
    background-color: $new-blog-light;
    border: none;
    height: 100vh;
    &.dark-mode {
        background-color: $dark-background;
        color: $dark-text-color;
        .view-members, .app-theme {
            color: $dark-text-color !important;
            &:hover {
                color: $form-input-color !important;
            }
        }
    }
    .logo {
        font-size: 1.75rem;
        font-family: $font-family-primary;
        font-weight: 400;
        padding: 3.125rem 1.25rem;
        text-align: center;

        span:first-child {
            color: $primary-color;
        }
        span:nth-child(2) {
            font-weight: 500;
        }

    }
    .filter-items {
      list-style: none;
      .filter-heading {
        padding-bottom: 0.625rem;
      }
      li {
        display: flex;
        gap: 0.625rem;
        padding-bottom: 0.625rem;
        input {
            accent-color: $primary-color;
            width: 1.125rem;
            cursor: pointer;
        }
        .filter-item {
            font-size: 1rem;
        }
      }
    }
    .buttons {
        margin-bottom: 3rem;
        .view-members, .app-theme {
            font-size: 1rem;
            border: none;
            background-color: transparent;
            color: $text-color;
            padding-bottom: 0.625rem;
            cursor: pointer;
            &:hover {
                color: $form-input-color;
            }
        }
    }
    
}