@import '../../styles/colors.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    width: 1000px;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    background-color: $primary-color;
    cursor: pointer;
    border: none;
    border-radius: 2rem;
    padding: 0.625rem 1.625rem;
    font-weight: 900;
    color: $dark-text-color;
    margin: 0 0.625rem 0.625rem;
}
